`To'g'ri dizayn: Alohida jadvalga olib chiqish.`

> Jadval uchun to'g'ri dizayn qilishning usullaridan yana  bir bu, har bir `column`'da bitta qiymat saqlash kerak.

In [ ]:
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id | phone_number
------------+--------------+------------+------------+-----------------------+----+---------------
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 | +998930091166
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 | +998930091166
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | Cooking, Reading      |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | Football, Tennis      |  3 | +998930091166
 Amirxon    | Umarov       | 1998-12-28 | electric   | Eating                |  8 | +998930091166
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding, Listing music |  9 | +998930091166
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading       |  1 | +998930091166
 Tom        | Caliny       | 1960-12-23 | designer   | Football, Tennis      |  6 | +998930091166
 Tim        | Kalith       | 1980-11-11 | driver     | Tennis                |  7 | +998930091166
(9 rows)


example_db=#

Yuqoridagi jadval to'g'ri dizayn qilinmagan, chunki bu `interests` columnida bitta qitmat emas bir nechta qiymatlar saqlanayabdi, bu esa jadvalning to'g'ri dizayn qoidalariga zid.

Bu muammoni qanday qilib hal qilishni ko'rib chiqamiz.

> `column` ichidagi ma'lumotlarni alohida columnlarga bo'lamiz.

![alt text](image-table-sprate-column.png)

Ammo bu yechim boshqa muammo yuzaga chiqaradi, agar biron `user`ni `interests`'lari soni 3 tadan ko'p bo'lsa yana yangi column qo'shish kerak va bundan tashqari yana bir necha noqulayliklar yuzaga chiqadi.

> Jadval tuzishdagi to'g'ri dizayn qoidalaridan yana biri `bir xil turdagi ma'lumotlarni faqatgina bitta columnda saqlash kerak.` Yuqoridagi rasmga qaraydigan bo'lsak biz hozirgina aytgan qoidamizni buzayapmiz. Bu xatolik ham yomon dizaynga kiradi.

Unda qanday yo'l tutish kerak?

> Bu muammoni yechimi bir nechta `value` qabul qilishi kerak bo'lgan `column`'ni alohida `table`'ga olib chiqish.

In [ ]:
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id | phone_number
------------+--------------+------------+------------+-----------------------+----+---------------
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 | +998930091166
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 | +998930091166
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | Cooking, Reading      |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | Football, Tennis      |  3 | +998930091166
 Amirxon    | Umarov       | 1998-12-28 | electric   | Eating                |  8 | +998930091166
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding, Listing music |  9 | +998930091166
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading       |  1 | +998930091166
 Tom        | Caliny       | 1960-12-23 | designer   | Football, Tennis      |  6 | +998930091166
 Tim        | Kalith       | 1980-11-11 | driver     | Tennis                |  7 | +998930091166
(9 rows)


example_db=#

![alt text](image-addition-table.png)

Yuqoridagi rasmda ko'ringanidek, `interests` columnidagi ma'lumotlarni `table`'ga olib chiqamiz.

Bizda yana bir muammo bor yuqoridagi jadval bilan, `insterests` va  `profession` columnida bir xil qiymatli ma'lumolar bor, misol uchun `profession` columnida bir nechta doctor'lar, quruvchi'lar va boshqalar bor agar biz alohida quruvchilarni ajratib jadvaldan chiqarsak:

In [ ]:
example_db=# SELECT * FROM contacts WHERE profession = 'quruvchi';
 first_name |  last_name   | birthdate  | profession |    interests     | id | phone_number
------------+--------------+------------+------------+------------------+----+---------------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | Cooking, Reading |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | Football, Tennis |  3 | +998930091166
(2 rows)


example_db=#

2 ta borligini ko'ramiz. Ammo biz yangi qiymat qo'shadigan bo'lsak va `profession`'ga sal noto'g'ri qilib `qruvchi` deb yozsak va yana `quruvchi`larni saralaydigan bo'lsak bizga 2 ta qiymat qaytaradi jadval:

In [ ]:
example_db=# INSERT INTO contacts (first_name, last_name, birthdate, profession, interests, phone_number) VALUES ('Ahmad', 'Qahhorov', '1994-09-23', 'qruvchi', 'Reading, Music', '+998932457689');
INSERT 0 1
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id | phone_number
------------+--------------+------------+------------+-----------------------+----+---------------
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 | +998930091166
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 | +998930091166
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | Cooking, Reading      |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | Football, Tennis      |  3 | +998930091166
 Amirxon    | Umarov       | 1998-12-28 | electric   | Eating                |  8 | +998930091166
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding, Listing music |  9 | +998930091166
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading       |  1 | +998930091166
 Tom        | Caliny       | 1960-12-23 | designer   | Football, Tennis      |  6 | +998930091166
 Tim        | Kalith       | 1980-11-11 | driver     | Tennis                |  7 | +998930091166
 Ahmad      | Qahhorov     | 1994-09-23 | qruvchi    | Reading, Music        | 10 | +998932457689
(10 rows)


example_db=# SELECT * FROM contacts WHERE profession = 'quruvchi';
 first_name |  last_name   | birthdate  | profession |    interests     | id | phone_number
------------+--------------+------------+------------+------------------+----+---------------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | Cooking, Reading |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | Football, Tennis |  3 | +998930091166
(2 rows)


example_db=#

Aytganlarimizni bajardik va bizda natija o'zgarmadi, demak hozirda biz yaratgan jadvalga ishonch yo'q, bu muammoni qanday qilib to'g'irlasa bo'ladi?

`interests` columnida ham xuddi shunday muammo bor.

Buni ham yechimi `profession` columnini alohida jadvalga olib chiqish bo'ladi.

`Muammoni yechimiga o'tamiz:`

Demak birinchi bo'lib `profession` columnini yangi jadvalga o'tkazsak: `contacts` jadvali ichida o'zi nechta profession borligini chiqarib olamiz

In [ ]:
example_db=# SELECT DISTINCT profession FROM contacts;
 profession
------------
 quruvchi
 designer
 qruvchi
 Designer
 doctor
 modeller
 electric
 driver
(8 rows)


example_db=#

yangi jadval yaratamiz va bu qiymatlarni shu jadvalga qo'shib olamiz:

`Jadval yaratish:`

In [ ]:
example_db=# CREATE TABLE profession
example_db-# (
example_db(#    id SERIAL PRIMARY KEY,
example_db(#    name VARCHAR(50)
example_db(# );
CREATE TABLE
example_db=#

`Ma'lumotlarni qo'shamiz endi:`

In [ ]:
example_db=# INSERT INTO profession (name) VALUES ('quruvchi');
INSERT 0 1
example_db=# INSERT INTO profession (name) VALUES ('designer');
INSERT 0 1
example_db=# INSERT INTO profession (name) VALUES ('doctor');
INSERT 0 1
example_db=# INSERT INTO profession (name) VALUES ('model');
INSERT 0 1
example_db=# INSERT INTO profession (name) VALUES ('electric');
INSERT 0 1
example_db=# INSERT INTO profession (name) VALUES ('driver');
INSERT 0 1
example_db=# SELECT * FROM profession;
 id |   name
----+----------
  1 | quruvchi
  2 | designer
  3 | doctor
  4 | model
  5 | electric
  6 | driver
(6 rows)


example_db=#

Yangi jadval yaratib unga bizda bor barcha `profession`larni qo'shib oldik, edi esa `contacts` jadvaliga bog'lab olsak bo'ldi.

Bog'lash quyidagigacha bo'ladi: `profession` tabledagi ma'lumotlarni `PRIMARY KEY`ini `contacts` jadvalidagi columnlarda saqlaymiz:

`contacts` jadvalidan `profession` columnini o'chirib qayta qo'shamiz va uni turini `INT` qilib qo'yamiz:

In [ ]:
example_db=# ALTER TABLE contacts DROP COLUMN profession;
ALTER TABLE
example_db=# ALTER TABLE contacts ADD COLUMN profession INT;
ALTER TABLE
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  |       interests       | id | phone_number  | profession
------------+--------------+------------+-----------------------+----+---------------+------------
 Umid       | Murodov      | 1998-12-08 | Reading               |  4 | +998930091166 |
 Jahongir   | Otajonov     | 1978-10-05 | Cooking               |  5 | +998930091166 |
 Navroz     | Abdumurodov  | 1999-03-21 | Cooking, Reading      |  2 | +998930091166 |
 Javohir    | Abdurashidov | 1999-03-21 | Football, Tennis      |  3 | +998930091166 |
 Amirxon    | Umarov       | 1998-12-28 | Eating                |  8 | +998930091166 |
 Dilya      | Neymatova    | 2002-05-12 | Coding, Listing music |  9 | +998930091166 |
 Shahboz    | Shirinboyev  | 1999-12-03 | Coding, Reading       |  1 | +998930091166 |
 Tom        | Caliny       | 1960-12-23 | Football, Tennis      |  6 | +998930091166 |
 Tim        | Kalith       | 1980-11-11 | Tennis                |  7 | +998930091166 |
 Ahmad      | Qahhorov     | 1994-09-23 | Reading, Music        | 10 | +998932457689 |
(10 rows)


example_db=#

Endi qayta to'ldirib chiqamiz `profession` `column`ini:

In [ ]:
example_db=# SELECT * FROM profession;
 id |   name
----+----------
  1 | quruvchi
  2 | designer
  3 | doctor
  4 | model
  5 | electric
  6 | driver
(6 rows)


example_db=# UPDATE contacts SET profession = 3 WHERE id = 4;
UPDATE 1
example_db=# UPDATE contacts SET profession = 3 WHERE id = 5;
UPDATE 1
example_db=# UPDATE contacts SET profession = 1 WHERE id = 2;
UPDATE 1
example_db=# UPDATE contacts SET profession = 1 WHERE id = 3;
UPDATE 1
example_db=# UPDATE contacts SET profession = 5 WHERE id = 8;
UPDATE 1
example_db=# UPDATE contacts SET profession = 4 WHERE id = 9;
UPDATE 1
example_db=# UPDATE contacts SET profession = 2 WHERE id = 1;
UPDATE 1
example_db=# UPDATE contacts SET profession = 2 WHERE id = 6;
UPDATE 1
example_db=# UPDATE contacts SET profession = 6 WHERE id = 7;
UPDATE 1
example_db=# UPDATE contacts SET profession = 3 WHERE id = 10;
UPDATE 1
example_db=#

`contacts` jadvalini ko'radigan bo'lsak:

In [ ]:
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  |       interests       | id | phone_number  | profession
------------+--------------+------------+-----------------------+----+---------------+------------
 Umid       | Murodov      | 1998-12-08 | Reading               |  4 | +998930091166 |          3
 Jahongir   | Otajonov     | 1978-10-05 | Cooking               |  5 | +998930091166 |          3
 Navroz     | Abdumurodov  | 1999-03-21 | Cooking, Reading      |  2 | +998930091166 |          1
 Javohir    | Abdurashidov | 1999-03-21 | Football, Tennis      |  3 | +998930091166 |          1
 Amirxon    | Umarov       | 1998-12-28 | Eating                |  8 | +998930091166 |          5
 Dilya      | Neymatova    | 2002-05-12 | Coding, Listing music |  9 | +998930091166 |          4
 Shahboz    | Shirinboyev  | 1999-12-03 | Coding, Reading       |  1 | +998930091166 |          2
 Tom        | Caliny       | 1960-12-23 | Football, Tennis      |  6 | +998930091166 |          2
 Tim        | Kalith       | 1980-11-11 | Tennis                |  7 | +998930091166 |          6
 Ahmad      | Qahhorov     | 1994-09-23 | Reading, Music        | 10 | +998932457689 |          3
(10 rows)


example_db=#

Endi quruvchi professioniga teng odamlarni qanday ajratib olaman:

Bu endi 2 qator kod bilan bo'ladi:

In [ ]:
example_db=# SELECT id FROM profession WHERE name = 'quruvchi';
 id
----
  1
(1 row)


example_db=# SELECT * FROM contacts WHERE profession = 1;
 first_name |  last_name   | birthdate  |    interests     | id | phone_number  | profession
------------+--------------+------------+------------------+----+---------------+------------
 Navroz     | Abdumurodov  | 1999-03-21 | Cooking, Reading |  2 | +998930091166 |          1
 Javohir    | Abdurashidov | 1999-03-21 | Football, Tennis |  3 | +998930091166 |          1
(2 rows)


example_db=#

Endi bu ma'lumotlarni chiqarish 2 qadam bilan bo'ladi.

> Endi yaxshilab o'ylab ko'radigan bo'lsa `contacts` jadvalidagi profession nomlarini xato kiritib qo'yishni imkoni yo'q va bu juda ham jadvaldagi aniqlikni va ishonchni oshiradi.

Lekin `contacts` boshqa yagni foydalanuvchi qo'shadigan bo'lsa `profession`ga columnga profession table ichidagi idlardan chiqib ketmasligimiz kerak, ammo hozir bemalol qo'shishimiz mumkin chunki hech qanday bog'lanish o'rnatmaganmiz.

In [ ]:
example_db=# SELECT * FROM profession;
 id |   name
----+----------
  1 | quruvchi
  2 | designer
  3 | doctor
  4 | model
  5 | electric
  6 | driver
(6 rows)


example_db=#

Bor yo'g'e `6` ta id bor ulardan chiqib ketmasligi kerak yanni masalan profession columni `12` ga teng id ni olmasligi kerak aslida:

In [ ]:
example_db=# INSERT INTO contacts (first_name, last_name, birthdate, interests, phone_number, profession) VALUES ('Hilola', 'Rahmonova', '2002-12-28', 'Tennis', '+998904567890', 12);
INSERT 0 1
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  |       interests       | id | phone_number  | profession
------------+--------------+------------+-----------------------+----+---------------+------------
 Umid       | Murodov      | 1998-12-08 | Reading               |  4 | +998930091166 |          3
 Jahongir   | Otajonov     | 1978-10-05 | Cooking               |  5 | +998930091166 |          3
 Navroz     | Abdumurodov  | 1999-03-21 | Cooking, Reading      |  2 | +998930091166 |          1
 Javohir    | Abdurashidov | 1999-03-21 | Football, Tennis      |  3 | +998930091166 |          1
 Amirxon    | Umarov       | 1998-12-28 | Eating                |  8 | +998930091166 |          5
 Dilya      | Neymatova    | 2002-05-12 | Coding, Listing music |  9 | +998930091166 |          4
 Shahboz    | Shirinboyev  | 1999-12-03 | Coding, Reading       |  1 | +998930091166 |          2
 Tom        | Caliny       | 1960-12-23 | Football, Tennis      |  6 | +998930091166 |          2
 Tim        | Kalith       | 1980-11-11 | Tennis                |  7 | +998930091166 |          6
 Ahmad      | Qahhorov     | 1994-09-23 | Reading, Music        | 10 | +998932457689 |          3
 Hilola     | Rahmonova    | 2002-12-28 | Tennis                | 11 | +998904567890 |         12
(11 rows)


example_db=#

Demak har qanday `ID` ga ro'xsat bo'lmasligi kerak, faqat profession ichida bor `id`larga ro'xsat bo'lishi kerak:

Bog'lanishni o'rnatamiz: `contacts` jadvali ichidan `profession` columnini olib tashlayman:

In [ ]:
example_db=# ALTER TABLE contacts DROP COLUMN profession;
ALTER TABLE
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  |       interests       | id | phone_number
------------+--------------+------------+-----------------------+----+---------------
 Umid       | Murodov      | 1998-12-08 | Reading               |  4 | +998930091166
 Jahongir   | Otajonov     | 1978-10-05 | Cooking               |  5 | +998930091166
 Navroz     | Abdumurodov  | 1999-03-21 | Cooking, Reading      |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | Football, Tennis      |  3 | +998930091166
 Amirxon    | Umarov       | 1998-12-28 | Eating                |  8 | +998930091166
 Dilya      | Neymatova    | 2002-05-12 | Coding, Listing music |  9 | +998930091166
 Shahboz    | Shirinboyev  | 1999-12-03 | Coding, Reading       |  1 | +998930091166
 Tom        | Caliny       | 1960-12-23 | Football, Tennis      |  6 | +998930091166
 Tim        | Kalith       | 1980-11-11 | Tennis                |  7 | +998930091166
 Ahmad      | Qahhorov     | 1994-09-23 | Reading, Music        | 10 | +998932457689
 Hilola     | Rahmonova    | 2002-12-28 | Tennis                | 11 | +998904567890
(11 rows)


example_db=#

`Bog'lanishni o'rnatish:`

In [ ]:
example_db=# ALTER TABLE contacts ADD COLUMN profession_id INT REFERENCES profession (id);
ALTER TABLE
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  |       interests       | id | phone_number  | profession_id
------------+--------------+------------+-----------------------+----+---------------+---------------
 Umid       | Murodov      | 1998-12-08 | Reading               |  4 | +998930091166 |
 Jahongir   | Otajonov     | 1978-10-05 | Cooking               |  5 | +998930091166 |
 Navroz     | Abdumurodov  | 1999-03-21 | Cooking, Reading      |  2 | +998930091166 |
 Javohir    | Abdurashidov | 1999-03-21 | Football, Tennis      |  3 | +998930091166 |
 Amirxon    | Umarov       | 1998-12-28 | Eating                |  8 | +998930091166 |
 Dilya      | Neymatova    | 2002-05-12 | Coding, Listing music |  9 | +998930091166 |
 Shahboz    | Shirinboyev  | 1999-12-03 | Coding, Reading       |  1 | +998930091166 |
 Tom        | Caliny       | 1960-12-23 | Football, Tennis      |  6 | +998930091166 |
 Tim        | Kalith       | 1980-11-11 | Tennis                |  7 | +998930091166 |
 Ahmad      | Qahhorov     | 1994-09-23 | Reading, Music        | 10 | +998932457689 |
 Hilola     | Rahmonova    | 2002-12-28 | Tennis                | 11 | +998904567890 |
(11 rows)


example_db=#

`ALTER TABLE contacts ADD COLUMN profession_id INT REFERENCES profession (id);` - qatordagi `REFERENCES profession (id)` bu shu profession jadvalidagi `id`lar shu yaratgan columnga tegishli tegishli ekanligini bildiradi.

Endi `profession` jadvalidagi bor `id`larni tegishli userlarga belgilaymiz:

In [ ]:
example_db=# UPDATE contacts SET profession_id = 3 WHERE id = 4;
UPDATE 1
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  |       interests       | id | phone_number  | profession_id
------------+--------------+------------+-----------------------+----+---------------+---------------
 Jahongir   | Otajonov     | 1978-10-05 | Cooking               |  5 | +998930091166 |
 Navroz     | Abdumurodov  | 1999-03-21 | Cooking, Reading      |  2 | +998930091166 |
 Javohir    | Abdurashidov | 1999-03-21 | Football, Tennis      |  3 | +998930091166 |
 Amirxon    | Umarov       | 1998-12-28 | Eating                |  8 | +998930091166 |
 Dilya      | Neymatova    | 2002-05-12 | Coding, Listing music |  9 | +998930091166 |
 Shahboz    | Shirinboyev  | 1999-12-03 | Coding, Reading       |  1 | +998930091166 |
 Tom        | Caliny       | 1960-12-23 | Football, Tennis      |  6 | +998930091166 |
 Tim        | Kalith       | 1980-11-11 | Tennis                |  7 | +998930091166 |
 Ahmad      | Qahhorov     | 1994-09-23 | Reading, Music        | 10 | +998932457689 |
 Hilola     | Rahmonova    | 2002-12-28 | Tennis                | 11 | +998904567890 |
 Umid       | Murodov      | 1998-12-08 | Reading               |  4 | +998930091166 |             3
(11 rows)


example_db=#

Bitta `id`ni bog'ladik, uni qabul qildi, keling endi yana bir `profession` jadvalida mavjud bo'lmagan `12` idsini qo'shib ko'rmoqchi bo'lamiz biron userga:

Undan avval profession jadvalini yana bir ko'rib olamiz:

In [ ]:
example_db=# SELECT * FROM profession;
 id |   name
----+----------
  1 | quruvchi
  2 | designer
  3 | doctor
  4 | model
  5 | electric
  6 | driver
(6 rows)


example_db=#

`12` id ni qo'shib ko'ramiz biron userga:

In [ ]:
example_db=# UPDATE contacts SET profession_id = 12 WHERE id = 11;
ERROR:  insert or update on table "contacts" violates foreign key constraint "contacts_profession_id_fkey"
DETAIL:  Key (profession_id)=(12) is not present in table "profession".
example_db=#

Demak bizda quyidagi xatolik bor: 

`ERROR:  insert or update on table "contacts" violates foreign key constraint "contacts_profession_id_fkey"`

`XATO: "contacts" jadvaliga ma'lumot qoâ€˜shish yoki yangilashda "contacts_profession_id_fkey" tashqi kalit (foreign key) chekloviga zid keldi.`

Demak faqatgina `profession` jadvalidagi `PRIMARY KEY`larni `profession_id` columniga qo'sha olamiz.

> Xulosa qiladigan bo'lsak: jadvalimizda to'g'ri dizayn bo'lganligi sababli uning columniga noto'g'ri ma'lumot kiritib bo'lmayabdi, agar jadvalimiz noto'g'ri dizayn qilingan bo'lsa shunday noto'g'ri ma'lumotlarni kirgizishimiz mumkin bo'lardi va jadvalimizga ishonch bo'lmasdi.

> Ma'lumotlar ba'zasi ishonchli bo'lishi kerak.

Biron jadvaldagi `PRIMARY KEY`ni boshqa jadvalga `REFERENCES` qiladigan bo'lsak u `FOREIGN KEY` deyiladi.