`JOIN`

> Bitta query yordamida, bir nechta jadvallardan ma'lumot olishni o'rganamiz.

In [ ]:
SELECT first_name FROM contacts ORDER BY first_name;

In [ ]:
example_db=# SELECT first_name FROM contacts ORDER BY first_name;
 first_name
------------
 Husniddin
 Nargiza
 Shahboz
 Subhiddin
 Xamid
 Zerda
(6 rows)


example_db=#

Yuqoridagi kodda first_name ikki marta takrorlangan shuning uchun `column` nomini qisqa nomlash mumkin agar takrorlanish bo'lsa:

- first_name as fn

Komandani qaytadan yozsak: `SELECT first_name as fn FROM contacts ORDER BY fn;`

In [ ]:
example_db=# SELECT first_name as fn FROM contacts ORDER BY fn;
    fn
-----------
 Husniddin
 Nargiza
 Shahboz
 Subhiddin
 Xamid
 Zerda
(6 rows)


example_db=#

Nafaqat `column` uchun `nickname` berish mumkin, balki `table` uchun ham `nickname` berish mumkin.

Bunday holatda foydalanishdan maqsad o'zi, uzun bo'lgan `query`'larda yaxshi as qotadi.

In [ ]:
example_db=# SELECT * FROM contacts;
 id | first_name |  last_name  | birthdate  |         interests          | phone_number  | profession_id
----+------------+-------------+------------+----------------------------+---------------+---------------
  1 | Shahboz    | Shirinboyev | 1999-12-03 | Coding, Football, Baseball | +998930091166 |             6
  2 | Nargiza    | Booqulov    | 1997-07-05 | Cooking, Music             | +998970071476 |             5
  3 | Zerda      | Jursinova   | 2007-09-28 | Coding, Modeling           | +998991231456 |             2
  4 | Xamid      | Xoliqov     | 2002-08-13 | Modeling, Baseball, Chess  | +998954278945 |             4
  5 | Husniddin  | Ergashev    | 2001-12-23 | Chess, Swimming            | +998978954567 |             1
  6 | Subhiddin  | Nuriddinov  | 2000-09-20 | Cooking, Fly               | +998913256987 |             2
(6 rows)


example_db=# SELECT * FROM profession WHERE id=6;
 id |   name
----+----------
  6 | electric
(1 row)


example_db=#

1. 1-muammo: Bitta ma'lumotni olish uchun, 2ta qator query yozishga to'g'ri keldi.
2. 2-muammo: Har doim biron userni profession ma'lumotini olish uchun har safar shunaqa 2ta qator query yozish kerak bo'ladi.

> Bitta buyruq bilan ham foydalanuvchini `first_name`ni ham `profession name`ni ko'rib turishimiz kerak.

`JOIN` buyruqlaridan foydalangan holda ana shunday ma'lumotlarni bitta query bilan ko'rishimiz mumkin.

`SELECT contacts.first_name, contacts.last_name, profession.name FROM contacts INNER JOIN profession ON contacts.profession_id = profession.id;`